:root {
    --text-color: #ffffff;
    --primary-color: #192942;
    --darker-primary-color: color-mix(in oklab, var(--primary-color) 90%, #000000 10%);
    --lighter-primary-color: color-mix(in oklab, var(--primary-color) 90%, #ffffff 10%);
    --secondary-color: #3b0f44;
    --darker-secondary-color: color-mix(in oklab, var(--secondary-color) 90%, #000000 10%);
    --lighter-secondary-color: color-mix(in oklab, var(--secondary-color) 90%, #ffffff 10%);
}

::selection {
    color: inherit;
    background-color: var(--darker-primary-color)
}

:focus-visible {
    border-radius: 2px;
    outline: #00000080 solid 2.5px;
}

::placeholder,
::-moz-placeholder,
::-webkit-input-placeholder,
::-ms-placeholder {
    color: var(--text-color);
}

html,
body {
    height: 100dvh;
    background: repeating-linear-gradient(45deg, var(--darker-primary-color), var(--darker-primary-color) 5px, var(--primary-color) 5px, var(--primary-color) 25px);
    overflow-x: hidden;
}

html {
    background-color: var(--primary-color);
    scroll-padding-top: 75px;
}

body,
input,
button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100dvh;
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

li {
    list-style: "-  ";
}

kbd {
    background-color: var(--lighter-primary-color);
    border-radius: 5px;
    outline: solid var(--lighter-primary-color) 3px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 800;
}

input[type="checkbox"],
input[type="radio"],
input[type="range"],
button,
progress {
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    background-color: var(--darker-primary-color);
    border-radius: 5px;
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
}

input[type="radio"] {
    border-radius: 100%;
    border: var(--lighter-primary-color) solid 2px;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    position: relative;
    background-color: var(--lighter-primary-color);
}

input[type="checkbox"]:checked::before {
    content: "✔";
    position: absolute;
    text-align: center;
    font-weight: 800;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

input[type="text"],
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    cursor: text;
}

input[type="text"],
input[type="number"],
button {
    padding: 3px;
    padding-inline: 5px;
    color: var(--text-color);
    background-color: var(--lighter-primary-color);
    border: none;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input:disabled,
progress.disabled {
    cursor: not-allowed;
}

.logo {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-block: 30px;
}

.title-screen-buttons {
    min-width: 200px;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.title-screen-buttons button {
    padding: 15px;
    color: var(--text-color);
    background-color: var(--darker-primary-color);
    border: double var(--primary-color) 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 10px;
    font-weight: 700;
}

.title-screen-buttons button:hover {
    scale: 1.1;
}

.modal {
    min-width: 250px;
    width: 50%;
    max-height: 75dvh;
    padding: 25px;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: dashed var(--lighter-primary-color) 2px;
    border-radius: 10px;
    text-align: left;
}

.modal-subtitle:first-of-type {
    margin-top: 0;
}

.settings-group {
    margin-block: 25px;
    border-color: var(--darker-primary-color);
    border-radius: 5px;
}

.settings-group-title {
    padding-inline: 10px;
    font-weight: 800;
}

.setting {
    display: flex;
    justify-content: space-between;
    margin-block: 5px;
    gap: 5px;
}

.option {
    width: 18px;
    height: 18px;
}

.clear-cookies-button {
    padding: 15px;
    margin: 0 auto;
    display: block;
}

.modal-title,
.modal-subtitle {
    margin: 0;
    margin-left: 10px;
    margin-bottom: 8px;
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: 700;
}

.modal-subtitle {
    margin-top: 25px;
    font-size: 1.2em;
}

.modal-text {
    margin-block: 4px;
}

.modal-text a {
    text-decoration: underline;
}

.close-button {
    position: absolute;
    color: var(--text-color);
    background-color: transparent;
    border: 0;
    top: 15px;
    right: 15px;
}

.high-score,
.version {
    margin: 5px;
    position: fixed;
    font-size: 0.8em;
    bottom: 0;
}

.version {
    right: 0;
}

.game-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-message,
.loading-comment {
    padding-top: 50px;
    text-align: center;
    font-size: 2em;
    font-weight: 800;
}

.loading-comment {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
}

.players {
    position: absolute;
    opacity: 0;
}

.overlay-information {
    padding: 15px;
    position: absolute;
    background-color: var(--darker-primary-color);
    border-radius: 0;
    z-index: 10;
}

.rounds {
    border-end-end-radius: 15px;
    top: 0;
    left: 0;
}

.points {
    border-end-start-radius: 15px;
    top: 0;
    right: 0;
}

.timer {
    border-start-end-radius: 15px;
    left: 0;
    bottom: 0;
}

.game {
    width: 100%;
    margin-inline: 25px;
}

.player {
    padding: 25px;
    margin-top: 75px;
    margin-inline: 8dvw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ffffff1a;
    background-image: linear-gradient(135deg, #ffffff26, transparent 50%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid #ffffff33;
    border-radius: 25px;
    text-shadow: #000000 0 0 30px;
    box-shadow: 0 10px 40px #1f268740, inset 0 1px 0 #ffffff80;
}

.ytpmv-name,
.ytpmv-creators,
.ytpmv-plateform {
    margin: 0;
    margin-left: 15px;
    align-self: baseline;
}

.seek-bar-container {
    width: 100%;
    margin-block: 25px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.seek-bar {
    min-width: 150px;
    flex-grow: 1;
    color: var(--darker-primary-color);
    background-color: var(--darker-primary-color);
    border: none;
    border-radius: 5px;
}

progress::-moz-progress-bar,
progress::-webkit-progress-value {
    background-color: var(--lighter-primary-color);
}

.timecodes {
    font-weight: 800;
}

.controls>button {
    padding-inline: 5px;
    margin-inline: 25px;
    background-color: transparent;
    border: none;
    font-size: 2em;
}

.user-answers {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.user-answers input,
.user-answers button,
.answer-sources,
.answer-songs,
.next-button,
.end-screen-buttons button {
    padding: 15px;
    border: double var(--primary-color) 5px;
    border-radius: 15px;
}

.user-answers input {
    font-style: italic;
}

.user-answers input:disabled {
    background-color: var(--darker-primary-color);
    text-decoration: line-through;
}

.user-answers button {
    font-weight: 700;
}

.answer {
    max-width: 90dvw;
    margin-block: 25px;
    margin-inline: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.answer-thumbnail {
    max-width: 30dvw;
    width: auto;
    min-width: 280px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-block: 15px;
    border-radius: 15px;
}

.answer-sources-songs {
    margin-bottom: 15px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 30px;
    text-align: left;
}

.answer-sources,
.answer-songs {
    padding-block: 5px;
    padding-inline: 25px;
    background-color: var(--lighter-primary-color);
    border-radius: 15px;
}

.next-button {
    padding-block: 20px;
    margin-top: 15px;
    color: var(--text-color);
}

.answer-title,
.answer-creators,
.answer-column-title {
    font-weight: 600;
}

.answer-column-title {
    margin: -5px;
    margin-top: 5px;
    text-align: center;
    text-decoration: underline;
}

.final-score {
    margin-top: 100px;
    text-align: center;
    font-size: 2em;
}

.user-score,
.total-score {
    font-weight: 800;
}

.end-screen-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.replay-button,
.title-screen-button {
    margin-top: 15px;
    color: var(--text-color);
}

.hide {
    display: none;
    z-index: -5;
}

@media screen and (max-width: 770px) {

    .ytpmv-name,
    .ytpmv-creators,
    .ytpmv-plateform {
        margin-left: 8px;
        font-size: 1.2em;
    }

    .controls>button {
        margin-inline: 10px;
    }

    .user-answers {
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .user-answers div button {
        margin-top: 5px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 525px) {

    .ytpmv-name,
    .ytpmv-creators,
    .ytpmv-plateform {
        margin-left: 3px;
        font-size: 0.9em;
    }

    .game,
    .seek-bar-container {
        padding: 15px;
    }

    .seek-bar-container {
        margin-bottom: 10px;
        flex-direction: column;
    }

    .seek-bar {
        width: 100%;
    }

    .controls>button {
        padding: 0;
        margin: 0;
        font-size: 1.75em;
    }
}